.navBarShop {

  &__contenair {  //definit la hauteur et le color background
    margin-top: 8rem;
    text-transform: uppercase;
    display: flex;
    height: 5rem;
    background:#f36656;
  }

  &__ul {
    margin: auto;
    max-width: 122rem;
    height: 5rem;
    display: flex;

    padding-inline-start: 25px;
  }

  &__li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 14rem;
      &::after{
        content: "";
        height: 2rem;
        border-right: 0.1rem solid #ededed;
    }
  }

  &__active, &__inactive{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    min-width:8rem;
    color: $colour-white;
  }

  &__active{
      color:yellow ;
  }
  
  &__inactive{
    text-decoration: none;
  }


  &__active:hover, &__inactive:hover{
      color:yellow ;
      cursor: pointer;
  }

}


@media screen and (max-width:768px) {

  .navBarShop {

    &__contenair{
      justify-content: center;
    }

    &__ul {
      padding-inline-start: 0rem;
      width: auto;
    }

    &__li{
      justify-content: flex-start;
      min-width: 0rem;
    }
  
    &__active, &__inactive{
        font-size: 1.4rem;
        min-width: 0rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

  }
               
}