.navBarAccount {

  &__contenair {   //definit la hauteur et le color background
      margin-top: 8rem;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 5rem;
      background:#f36656;
  }

  &__max-width {    // definit la largeur max
    display: flex;
    justify-content: center;
    max-width: 1220px;
}

  &__ul {
    display: flex;
    padding-inline-start: 0px;
    align-items: flex-start;
  }

  &__li{
    list-style-type: none;
    display: flex;
    align-items: flex-start;

      &::after{
        content: "";
        height: 2rem;
        border-right: 0.1rem solid #ededed;
    }
  }

  &__active, &__inactive{
    font-size: 1.5rem;
    text-overflow: "";
    line-height: 1.7rem;
    color: $colour-white;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    
  }

  &__active{
      color:yellow ;
  }

  &__inactive{
      text-decoration: none;
  }

   
  &__active:hover, &__inactive:hover{
      color:yellow ;
      cursor: pointer;
  }

}


@media screen and (max-width:768px) {

  .navBarAccount {

    &__active, &__inactive{
      font-size: 1.4rem;
      line-height: 1.7rem;
      margin-right: 1rem;
      margin-left: 1rem;
      width: min-content;
      text-align: center; 
      
    }


    } 


}