//atc pour add to cart

.modal-installation-atc {


   &__wrapper{
      max-width: 40rem;
      padding: 1rem 1rem;
   }

   // ligne message validation
  
   &__message-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__validation-bubble-checked {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 1px solid rgb(215, 213, 213);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.7rem;
      font-weight: bold;
      background-color: #4caf50;
      color: white;
      margin-left: 1.5rem;
    }

    &__message-text{
      font-size: 1.8rem;
   }




   &__product-wrapper{
      display: flex;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
   }
  


   &__product-info-wrapper{
      font-size: 1.7rem;
      line-height: 1.4;
   }


   // ligne boutons

   &__buttons-link-wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: last baseline;
      margin-top: 2rem;
      margin-bottom: 1rem;
   }

} 

.ball-need{
   width: 100%;
   text-align: center;
   margin-top: 0.5rem;
}

.btn-installation-atc{
   height: min-content;

}




@media screen and (max-width: 768px) {

   .modal-installation-atc {
   
      &__buttons-link-wrapper{

         margin-top: -0.5rem;

      }
   
   } 
   
   

}






