.modal__body-reset-password-validation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-password-indication-validation{
    font-size: 1.7rem;
    text-align: center;
    width:80%;
    color: #3f3f93 ;
    font-weight: bold !important;
}