.modal__body-reset-password{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.reset-password-indication{
    font-size: 1.7rem;
    text-align: center;
    width:80%;
    color: #3f3f93 ;
    font-weight: bold !important;


}